body {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  justify-content: center;
}

.card {
  width: 600px;
  height: 376px;
  padding: 32px;
  border-radius: 16px;
  background-color: lightcyan;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.flexRow {
  display: flex;
  margin-bottom: 16px;
}

label {
  margin-right: 4px;
}

input {
  flex: 1;
  margin-right: 16px;
}

.spriteContainer {
  width: 300px;
  height: 300px;
  margin: 16px 0;
}

.sprite {
  width: 300px;
  height: 300px;
}

.infoRow {
  margin-bottom: 16px;
}

.actionsContainer {
  display: flex;
  justify-content: end;
}

.action {
  margin-right: 16px;
}
